<!DOCTYPE>
{% load static %}
<html>
<head>
    <title>Create chat</title>
    <link rel="stylesheet" href="{% static 'main/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <section class="login">
        <div class="menu">
            <div class="exit">
                <a class="exit__button" href="{% url 'chats_handler' %}?action=exit">
                    Exit account
                </a>
                <a class="exit__chat-button" href="{% url 'messages_page' %}?action=exit_chat">
                    Exit settings
                </a>
            </div>
        </div>
        <div class="container">
            <div class="login__inner">
                <h1 class="login__title">
                    Chat settings
                </h1>
                <div class="login__fields">
                    <div class="form__delete">
                        <a href="{% url 'chat_settings' %}?action=delete" class="form__delete_link">Delete</a>
                    </div>
                    <div id="csrf_token" style="display: none;">
                        {% csrf_token %}
                    </div>
                    <input type="text" name="title" value="{{ chat.title }}" required class="form__title" placeholder="Chat name" id="id_name">
                    <ul class="form__select">
                        {% for user in users %}
                        <li class="form__select_option">
                            <button onclick="handleOption('{{ user.id }}')" class="form__select_option-button">
                                <div class="form__select_option-button--trigger" id="form__select_option-button--trigger-{{ user.id }}"></div>
                                <p class="form__select_option-option">{{ user.username }}</p>
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                    <button class="login__submit-button" onclick="sendForm()">
                        <input class="login__submit" type="submit" value="Enter">
                    </button>
                </div>
            </div>
        </div>
    </section>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>

        var users_to_add = [{{ users_to_invite }}];

        {% if chat.admin == user %}
        function addUser(user_id) {
            $('#form__select_option-button--trigger-' + user_id).addClass('active');
            users_to_add.push(user_id);
        }

        function removeUser(user_id) {
            var new_list = [];
            for (var i = 0; i < users_to_add.length; i++){
                if (users_to_add[i] != user_id)
                    new_list.push(users_to_add[i]);
            }
            users_to_add = new_list;
            $('#form__select_option-button--trigger-' + user_id).removeClass('active');
        }

        function handleOption(user_id) {
            user_id = parseInt(user_id);
            if (users_to_add.find((elem, index, arr)=>{if (elem==user_id) {return true;}}))
                removeUser(user_id);
            else
                addUser(user_id);
        }

        function sendForm() {
            if (document.getElementById('id_name').value.length < 2) {
                alert("Chat's title length must be greater than 2");
                return;
            }

            $.ajax({
                type: "POST",
                url: "",
                data:  {'title': document.getElementById('id_name').value,
                        'users[]': users_to_add,
                        'csrfmiddlewaretoken': document.getElementById('csrf_token').children[0].value},
                success: () => ( document.location = document.location.protocol + "//" + document.location.host)
            })
        }
        {% endif %}

        window.onload = function() {
            for (var i = 0; i < users_to_add.length; i++) {
                $('#form__select_option-button--trigger-' + users_to_add[i]).addClass('active');
            }
        }
    </script>
</html>