<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Messanger</title>
	<link rel="stylesheet" href="{% static 'main/main.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap" rel="stylesheet">
</head>
<body style="overflow-y: hidden">
	<div class="loading">
		<img src="{% static 'main/loading-spinner.gif' %}" alt="" class="loading__image">
	</div>
	<div class="menu">
		<div class="menu__chat">
			<a href="{% url 'chat_settings' %}" class="menu__chat-link">
				Chat settings
			</a>
		</div>
		<div class="exit">
			<a class="exit__button" href="{% url 'chats_handler' %}?action=exit">
				Exit account
			</a>
			<a class="exit__chat-button" href="{% url 'chats_handler' %}?action=exit_chat">
				Exit chat
			</a>
		</div>
	</div>
	<section class="messanger">
		<div class="container">
			<div class="message-window">
				<div class="messages">
					<div class="messages__list">
						{% for message in messages %}
						<div class="message" id="{{ message.id }}">
						  {% if message.type == 'text' %}
							<h4 class="message__author">{{ message.author.username }}</h4>
							<p class="message__inner">{{ message.data.text }}</p>
						  {% endif %}
						  {% if message.type == 'image' %}
							<h4 class="message__author">{{ message.author.username }}</h4>
							<img src="/file_upload?file_id={{ message.id }}" class="message__inner message__image">
						  {% endif %}
						  {% if message.type == 'video' %}
							<h4 class="message__author">{{ message.author.username }}</h4>
							<video class="message__inner message__image" controls>
								<source src="/file_upload?file_id={{ message.id }}">
							</video>
						  {% endif %}
						  {% if message.type == 'file' %}
							<h4 class="message__author">{{ message.author.username }}</h4>
							<a href="/file_upload?file_id={{ message.id }}" class="message__inner message__image" style="color: blue">{{ message.data.file.name }}</a>
						  {% endif %}
						  <div class="message__actions">
							{% if user.id == message.author.id %}
							  <button class="message__actions-delete" onclick="deleteMessage({{ message.pk }})">Delete</button>
							{% endif %}
						  </div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="sender">
					<div class="sender__inner">
						<div class="sender__inner_form">
							<span class="sender__inner_file">
								<button class="sender__inner_file-button" onclick='openFileSearch()'>
									<img src="{% static 'main/clip.png' %}" class="sender__inner_file-img">
								</button>
								<input style="display: none" type="file" id="sender__inner_file-input">
							</span>
							<div class="sender__inner_input">
								<input type="text" id="sender__inner_input_message" placeholder="Enter some message...">
							</div>
							<div class="sender__inner_send">
								<button onclick="send()" class="sender__inner_send_button">
									<img src="{% static 'main/send button.svg' %}">
								<buttton>
							</div>
						</div>
						<div id="sender__inner_file-show">
							<p id="sender__inner_file-show--file"></p>
							<button id="sender__inner_file-show--button" onclick="removeChosenFile()">
								<img src="{% static 'main/cross.svg' %}" alt="" id="sender__inner_file-show--button-img">
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</html>

<script>

	var ws = null;
		var checking_open_file = null;
		var last_id = 0;



		function getLastMessage() {
			var messages = document.getElementsByClassName("message");
			if (messages)
				return messages[messages.length-1];
			return null;
		}

		function scrollToLastMessage() {
			var last = getLastMessage();
			if (last)
				last.scrollIntoView();
		}

		$('#sender__inner_input_message').keyup(function(event) {
			if (event.keyCode == 13) {
				$('.sender__inner_send_button').click();
			}
		})

		function isElementVisible(elem) {
		    var $elem = $(elem);
		    var $window = $(window);

		    var docViewTop = $window.scrollTop();
		    var docViewBottom = docViewTop + $window.height();

		    var elemTop = $elem.offset().top;
		    var elemBottom = elemTop + $elem.height();

		    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
		}

		function openFileSearch() {
			document.getElementById('sender__inner_file-input').click();
			checking_open_file = window.setInterval(showChosenFile, 200);
		}

		function showChosenFile() {
			var file_input = document.getElementById('sender__inner_file-input');
			if (file_input.files[0]) {
				window.clearInterval(checking_open_file);
				checking_open_file = null;
				document.getElementById('sender__inner_file-show').style['display'] = 'flex';
				document.getElementById('sender__inner_file-show--file').innerHTML = file_input.files[0].name;
				document.getElementById('sender__inner_file-show--button').style['display'] = 'block';
			}
		}

		function removeChosenFile() {
			document.getElementById('sender__inner_file-input').value = '';
			document.getElementById('sender__inner_file-show').style['display'] = 'none';
			document.getElementById('sender__inner_file-show--file').innerHTML = '';
			document.getElementById('sender__inner_file-show--button').style['display'] = 'none';

		}

		function checkLinkInMessage(message) {
			message.innerHTML = message.innerHTML.replaceAll(/(https?:\/\/[^ ,'"\{\}\[\]\(\)<>\n]+)/g, '<a href="$1" style="color: blue">$1</a>');
		}

		function start_loading_animation() {
			$('.loading').addClass('active');
		}

		function stop_loading_animation() {
			$('.loading').removeClass('active');
		}

		function connect() {
			start_loading_animation();
			ws = new WebSocket('ws://' + window.location.host + '/messages/');
			ws.onmessage = function(response) {
				message = JSON.parse(response.data);
				if (message.command == 'get_mes') {
					var elem = new DOMParser().parseFromString(message.data, 'text/html');
					$('.messages__list')[0].appendChild(elem.body.children[0]);
					var last_message = getLastMessage();
					var message = last_message.children[1];
					checkLinkInMessage(message)
					scrollToLastMessage();
				}
				if (message.command == 'del') {
					$('#' + message.message.message_id)[0].remove();
					if (message.data == last_id) 
						last_id = $('.messages__list')[0].children[0];
				}
				if (message.command == 'notify_file') {
					var elem = new DOMParser().parseFromString(message.data, 'text/html');
					$('.messages__list')[0].appendChild(elem.body.children[0]);
					if (message.type == 'image'){
						var last_message = getLastMessage();
						last_message.style['height'] = '50vh';
						last_message.style['width'] = '50vw';
						last_message.getElementsByTagName('img')[0].onload = function() {
							last_message.style['height'] = 'auto';
							last_message.style['width'] = 'auto';
							scrollToLastMessage();
						};
					}
				}
				if (message.command == 'disconnect') {
					document.location.href = document.location.protocol  + '//' + document.location.host 
				}
				if (message.command == 'pull_mes') {
					var messages_list = $('.messages__list')[0];
					var first_message = messages_list.children[0];

					$('.messages__list').prepend($(message.data));

					for(var i = 0; i < messages_list.children.length; i+=1) {
						if (messages_list.children[i] == first_message) break;

						var message = messages_list.children[i];

						if (message.children[1].tagName == 'IMG'){
							var image = message.children[1];
							image.style['height'] = '50vh';
							image.style['width'] = '50vw';
							image.onload = function() {
								image.style['height'] = 'auto';
								image.style['width'] = 'auto';
								scrollToLastMessage();
							};
						}
						else if (message.children[1].tagName == 'P') {
							checkLinkInMessage(message.children[1]);
						}
					}
				}
			}
			ws.onopen = function(a) {
				stop_loading_animation();
			}
			ws.onclose = connect;
		}

		function dataURLToBlob(dataURL) {
		    var BASE64_MARKER = ';base64,';
		    if (dataURL.indexOf(BASE64_MARKER) == -1) {
		        var parts = dataURL.split(',');
		        var contentType = parts[0].split(':')[1];
		        var raw = parts[1];

		        return new Blob([raw], {type: contentType});
		    }

		    var parts = dataURL.split(BASE64_MARKER);
		    var contentType = parts[0].split(':')[1];
		    var raw = window.atob(parts[1]);
		    var rawLength = raw.length;

		    var uInt8Array = new Uint8Array(rawLength);

		    for (var i = 0; i < rawLength; ++i) {
		        uInt8Array[i] = raw.charCodeAt(i);
		    }

		    return new Blob([uInt8Array], {type: contentType});
		}

		function loadFileDownscaled(file) {
			var result = 'Hello';
			var reader = new FileReader();
	        reader.onload = function (readerEvent) {
	            var image = new Image();
	            image.onload = function (imageEvent) {
	                var canvas = document.createElement('canvas'),
	                    max_size = 2544,
	                    width = image.width,
	                    height = image.height;
	                if (width > height) {
	                    if (width > max_size) {
	                        height *= max_size / width;
	                        width = max_size;
	                    }
	                } else {
	                    if (height > max_size) {
	                        width *= max_size / height;
	                        height = max_size;
	                    }
	                }
	                canvas.width = width;
	                canvas.height = height;
	                canvas.getContext('2d').drawImage(image, 0, 0, width, height);
	                var dataUrl = canvas.toDataURL('image/jpeg');
	                var resizedImage = dataURLToBlob(dataUrl);

	                $.event.trigger({
	                	type: 'imageReady',
	                	resizedImage: resizedImage,
	                	imageTitle: file.name,
	                })
	            }
	            image.src = readerEvent.target.result;
	        }
	        reader.readAsDataURL(file); 
		}

		function sendFile(file) {
			start_loading_animation();
			var image_ext = ['.jpg', 'jpeg', '.png', '.tiff', '.heic'];
			for (var ext in image_ext){
				if (file.name.endsWith(image_ext[ext])){
					loadFileDownscaled(file);
					return;
				}
			}

			var fd = new FormData();
			fd.append('file', file);
			fd.append('file_title', file.name)
			$.ajax({
				url: '/file_upload/',
				type: 'post',
				data: fd,
				contentType: false,
				processData: false,
			}).done(() => (stop_loading_animation()));
			removeChosenFile();
		}

		$(document).on('imageReady', function(event) {
			var fd = new FormData();
			fd.append('file', event.resizedImage);
			fd.append('file_title', event.imageTitle)
			start_loading_animation();
			$.ajax({
				url: '/file_upload/',
				type: 'post',
				data: fd,
				contentType: false,
				processData: false,
			}).done(() => stop_loading_animation());
			removeChosenFile();
		});

		function send() {
			var file_input = document.getElementById('sender__inner_file-input');
			if (!file_input.value == '') {
				sendFile(file_input.files[0]);
			}
			else {
				var input = document.getElementById('sender__inner_input_message');
				var message = input.value;
				if (message == '') {return;}
				if (message.length > 1024) {alert("Message length is greater than 1024, please reduce it"); return;}
				input.value = '';
				ws.send(JSON.stringify({
					'command': 'send_mes',
					'data': message,
				}));
			}
		}

		function deleteMessage(id) {
			var message = $('#' + id)[0];
			if (message.children[1].tagName == 'VIDEO') {
				message.children[1].children[0].src = "";
			}
			ws.send(JSON.stringify({
				'command': 'del',
				'data': id,
			}));
		}

		function pullMessages() {
			var messages = $('.messages__list')[0];
			if (!messages)
				return;

			if (!isElementVisible(messages.children[0]) || last_id == messages.children[0].id)
				return

			last_id = messages.children[0].id;
			
			ws.send(JSON.stringify({
				'command': 'pull_mes',
				'last_id': last_id,
			}));
		}


	$(document).ready(function() {
		window.onload = scrollToLastMessage;
		window.onresize = scrollToLastMessage;
		$('.messages')[0].onscroll = pullMessages;
		var messages = $('.messages__list')[0].children;
		for (var index = 0; index < messages.length; index+=1) {
			if (messages[index].children[1].tagName == 'P') {
				checkLinkInMessage(messages[index].children[1]);
			}
		}
		connect();
	});

</script>
