<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Messanger</title>
	<link rel="stylesheet" href="{% static 'main/main.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="loading">
		<img src="{% static 'main/loading-spinner.gif' %}" alt="" class="loading__image">
	</div>
	<div class="menu">
		<div class="menu__chat">
			<a href="{% url 'chat_settings' %}" class="menu__chat-link">
				Chat settings
			</a>
		</div>
		<div class="exit">
			<a class="exit__button" href="{% url 'chats_handler' %}?action=exit">
				Exit account
			</a>
			<a class="exit__chat-button" href="{% url 'chats_handler' %}?action=exit_chat">
				Exit chat
			</a>
		</div>
	</div>
	<section class="messanger">
		<div class="container">
			<div class="message-window">
				<div class="messages">
					<div class="messages__list">
						{% for message in messages %}
						<div class="message" id="{{ message.pk }}">
							{% if message.type == 'text' %}
							<h4 class="message__author">{{ message.author.username }}</h4>
							<p class="message__inner">{{ message.data.text }}</p>
							{% endif %}
							{% if message.type == 'image' %}
							<h4 class="message__author">{{ message.author.username }}</h4>
							<img src="/file_upload?file_id={{ message.id }}" class="message__inner message__image">
							{% endif %}
							<div class="message__actions">
								{% if user == message.author %}
								<button class="message__actions-delete" onclick="deleteMessage({{ message.pk }})">Delete</button>
								{% endif %}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="sender">
					<div class="sender__inner">
						<div class="sender__inner_form">
							<span class="sender__inner_file">
								<button class="sender__inner_file-button" onclick='openFileSearch()'>
									<img src="{% static 'main/clip.png' %}" class="sender__inner_file-img">
								</button>
								<input style="display: none" type="file" id="sender__inner_file-input">
							</span>
							<div class="sender__inner_input">
								<input type="text" id="sender__inner_input_message" placeholder="Enter some message...">
							</div>
							<div class="sender__inner_send">
								<button onclick="send()" class="sender__inner_send_button">
									<img src="{% static 'main/send button.svg' %}">
								<buttton>
							</div>
						</div>
						<div id="sender__inner_file-show">
							<p id="sender__inner_file-show--file"></p>
							<button id="sender__inner_file-show--button" onclick="removeChosenFile()">
								<img src="{% static 'main/cross.svg' %}" alt="" id="sender__inner_file-show--button-img">
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</html>

<script>

	var ws = null;
		var checking_open_file = null;
		var last_id = 0;



		function getLastMessage() {
			var messages = document.getElementsByClassName("message");
			if (messages)
				return messages[messages.length-1];
			return null;
		}

		function scrollToLastMessage() {
			var last = getLastMessage();
			if (last)
				last.scrollIntoView();
		}

		$('#sender__inner_input_message').keyup(function(event) {
			if (event.keyCode == 13) {
				$('.sender__inner_send_button').click();
			}
		})

		function isElementVisible(elem) {
		    var $elem = $(elem);
		    var $window = $(window);

		    var docViewTop = $window.scrollTop();
		    var docViewBottom = docViewTop + $window.height();

		    var elemTop = $elem.offset().top;
		    var elemBottom = elemTop + $elem.height();

		    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
		}

		function openFileSearch() {
			document.getElementById('sender__inner_file-input').click();
			checking_open_file = window.setInterval(showChosenFile, 200);
		}

		function showChosenFile() {
			var file_input = document.getElementById('sender__inner_file-input');
			if (file_input.files[0]) {
				if (!file_input.files[0].name.endsWith('.jpg') && !file_input.files[0].name.endsWith('.png')) 
					{ ; file_input.value = '' ;return; }
				window.clearInterval(checking_open_file);
				checking_open_file = null;
				document.getElementById('sender__inner_file-show').style['display'] = 'flex';
				document.getElementById('sender__inner_file-show--file').innerHTML = file_input.files[0].name;
				document.getElementById('sender__inner_file-show--button').style['display'] = 'block';

			}
		}

		function removeChosenFile() {
			document.getElementById('sender__inner_file-input').value = '';
			document.getElementById('sender__inner_file-show').style['display'] = 'none';
			document.getElementById('sender__inner_file-show--file').innerHTML = '';
			document.getElementById('sender__inner_file-show--button').style['display'] = 'none';

		}

		function connect() {
			$('.loading').addClass('active');
			ws = new WebSocket('ws://' + window.location.hostname + ':8001');
			ws.onmessage = function(response) {
				message = JSON.parse(response.data);
				if (message.command == 'get_mes') {
					var elem = new DOMParser().parseFromString(message.data, 'text/html');
					$('.messages__list')[0].appendChild(elem.body.children[0]);
					scrollToLastMessage();
				}
				if (message.command == 'del') {
					$('#' + message.data)[0].remove();
					if (message.data == last_id) 
						last_id = $('.messages__list')[0].children[0];
				}
				if (message.command == 'notify_img') {
					var elem = new DOMParser().parseFromString(message.data, 'text/html');
					$('.messages__list')[0].appendChild(elem.body.children[0]);
					var last_message = getLastMessage();
					last_message.getElementsByTagName('img')[0].onload = scrollToLastMessage;
				}
				if (message.command == 'disconnect') {
					document.location.href = document.location.protocol  + '//' + document.location.host 
				}
				if (message.command == 'pull_messages') {
					var messages_list = $('.messages__list')[0];
					$('.messages__list').prepend($(message.data));
				}
			}
			ws.onopen = function(a) {
					console.log(a);
				$('.loading').removeClass('active');
				ws.send('messenger');
				data = $.get('/get_session_id', function(data) { ws.send(document.cookie + '; sessionid=' + data)});
			}
			ws.onclose = connect;
		}

		function dataURLToBlob(dataURL) {
		    var BASE64_MARKER = ';base64,';
		    if (dataURL.indexOf(BASE64_MARKER) == -1) {
		        var parts = dataURL.split(',');
		        var contentType = parts[0].split(':')[1];
		        var raw = parts[1];

		        return new Blob([raw], {type: contentType});
		    }

		    var parts = dataURL.split(BASE64_MARKER);
		    var contentType = parts[0].split(':')[1];
		    var raw = window.atob(parts[1]);
		    var rawLength = raw.length;

		    var uInt8Array = new Uint8Array(rawLength);

		    for (var i = 0; i < rawLength; ++i) {
		        uInt8Array[i] = raw.charCodeAt(i);
		    }

		    return new Blob([uInt8Array], {type: contentType});
		}

		function loadFileDownscaled(file) {
			var result = 'Hello';
			var reader = new FileReader();
	        reader.onload = function (readerEvent) {
	            var image = new Image();
	            image.onload = function (imageEvent) {
	                var canvas = document.createElement('canvas'),
	                    max_size = 544,
	                    width = image.width,
	                    height = image.height;
	                if (width > height) {
	                    if (width > max_size) {
	                        height *= max_size / width;
	                        width = max_size;
	                    }
	                } else {
	                    if (height > max_size) {
	                        width *= max_size / height;
	                        height = max_size;
	                    }
	                }
	                canvas.width = width;
	                canvas.height = height;
	                canvas.getContext('2d').drawImage(image, 0, 0, width, height);
	                var dataUrl = canvas.toDataURL('image/jpeg');
	                var resizedImage = dataURLToBlob(dataUrl);

	                $.event.trigger({
	                	type: 'imageReady',
	                	resizedImage: resizedImage,
	                	imageTitle: file.name,
	                })
	            }
	            image.src = readerEvent.target.result;
	        }
	        reader.readAsDataURL(file); 
		}

		function sendFile(file) {
			loadFileDownscaled(file);
		}

		$(document).on('imageReady', function(event) {
			var fd = new FormData();
			fd.append('file', event.resizedImage);
			fd.append('file_title', event.imageTitle)

			$.ajax({
				url: '/file_upload/',
				type: 'post',
				data: fd,
				contentType: false,
				processData: false,
			});
			removeChosenFile();
		});

		function send() {
			var file_input = document.getElementById('sender__inner_file-input');
			if (!file_input.value == '') {
				sendFile(file_input.files[0]);
			}
			else {
				var input = document.getElementById('sender__inner_input_message');
				var message = input.value;
				if (message == '') {return;} 
				input.value = '';
				ws.send(JSON.stringify({
					'command': 'send_mes',
					'data': message,
				}));
			}
		}

		function deleteMessage(id) {
			ws.send(JSON.stringify({
				'command': 'del',
				'data': id,
			}));
		}


		function pullMessages() {
			var messages = $('.messages__list')[0];
			if (!messages)
				return;

			if (!isElementVisible(messages.children[0]) || last_id == messages.children[0].id)
				return

			last_id = messages.children[0].id;
			
			ws.send(JSON.stringify({
				'command': 'pull_messages',
				'last_id': last_id,
			}));
		}

		
	$(document).ready(function() {
		window.onload = scrollToLastMessage;
		window.onresize = scrollToLastMessage;
		$('.messages')[0].onscroll = pullMessages;
		connect();
	});

</script>
